@import "../../../DesignSystem/library";

.header-container {
  position: sticky;
  top: 0;
  z-index: 11;
  position: -webkit-sticky;
  padding-bottom: 0.8rem;
  background-color: $primary-color;
  height: 120px;
  font-family: $font-primary;

  .header-logo-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.4rem;

    .header-logo-container {
      padding: 0.6rem;
      padding-top: 0.7rem;
    }

    .header-input-container {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      margin-right: 0.6rem;
      position: relative;
      input {
        border: 1px solid black;
        outline: none;
        height: 20px;
        width: 140px;
      }

      input:focus {
        border: 1px solid $secondary-color;
        border-radius: 4px;
      }

      .search-icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 0.3rem;
        cursor: pointer;
      }
      .suggestion-container {
        position: absolute;
        top: 30px;
        background-color: white;
        width: 100%;
        min-height: 50px;
        max-height: 200px;
        overflow-y: scroll;
        z-index: 10;
        font-size: 12px;

        .suggestion-item {
          display: flex;
          padding: 0.3rem 0.4rem;
          cursor: pointer;

          .suggestion-item-image-container {
            width: 25%;
            height: 100%;
          }

          .suggestion-item-title {
            width: 75%;
            margin-left: 0.5rem;

            .suggestion-item-year {
              margin-top: -0.7rem;
              font-size: 10px;
            }
          }
        }
        .loader-container {
          margin-top: 0.5rem;
          margin-bottom: 0.5rem;
        }

        .not-found {
          font-weight: 600;
          margin-left: 1rem;
          margin-top: 0.8rem;
        }
      }
    }
  }

  .header-tabbed-container {
    margin-top: 0.9rem;
  }
}
