@import "../../../DesignSystem/library";

.header-container {
  position: sticky;
  top: 0;
  z-index: 11;
  position: -webkit-sticky;
  padding-bottom: 0.8rem;
  background-color: $primary-color;
  height: 120px;

  .header-logo-container {
    padding: 0.6rem;
  }

  .header-tabbed-container {
    margin-top: 0.9rem;
  }
}
